<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<tr th:each="author : ${authors}">
    <p th:text="${author}"> </p>
</tr>
<p th:text="${title}"></p>
<p></p>
<p th:text="'cтр. ' + ${pageNumber} + ' из ' + ${pageListSize}"></p>

<div class="btn btn-primary" th:if="${pageNumber} > 1">
    <a th:href="@{'/page/' + ${pageNumber-1}}">назад</a>
</div>
<div th:if="${pageNumber} < ${pageListSize}">
    <a  th:href="@{'/page/' + ${pageNumber+1}}">вперед</a>
</div>

<p>
<a  href="/content">Оглавление</a>
</p>

<tr th:each="line : ${lines}">
    <p th:text="${line}"></p>
</tr>

</body>
</html>