<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Register
<form action="/register" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Confirm Password: <input type="password" name="confirmPassword"/> </label></div>
    <div><input type="submit" value="Register"/></div>
</form>
<p></p>
<div th:each="message : ${messageList}">
    <div th:text="${message}"></div>
</div>

</body>
</html>